@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #202020;
    color: white;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
}

.cart {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-card {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
}
